<style>
  .slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
  padding: 0;
}
.slideshow-container .mySlides {
  min-height: 490px;
  display: none;
  padding: 30px 10px;
}
@media (min-width: 768px) {
  .slideshow-container .mySlides {
    min-height: 370px;
  }
}
@media (min-width: 768px) {
  .slideshow-container .mySlides {
    padding: 45px 35px;
  }
}
.slideshow-container .mySlides .numbertext {
  font-size: 12px;
  padding: 8px 12px;
  text-align: center;
}
.slideshow-container .mySlides .text {
  text-align: center;
  font-size: 18px;
  padding: 8px 4px;
  margin: auto;
}
@media (min-width: 768px) {
  .slideshow-container .mySlides .text {
    padding: 8px 12px;
  }
}
.slideshow-container .mySlides img {
  width: 60px;
  display: block;
  margin: 0 auto;
  border-radius: 24px 8px 24px 8px;
}
.slideshow-container .mySlides .designation {
  text-align: center;
  font-size: 14px;
  color: #000000;
}
.slideshow-container .bg1 {
  /* fallback */
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
.slideshow-container .bg2 {
  /* fallback */
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
.slideshow-container .bg3 {
  /* fallback */
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev .next{
    background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
</style>

<div class="slideshow-container" style="margin-top: 20px;">
  <div class="mySlides fade bg1">
    <div class="numbertext">1 / 3</div>
    <blockquote class="text">Am descoperit că nu există o cale scrisă, eu am fost și sunt regizorul vieții mele, iar după 4 ani în care m-am descoperit, am ajuns în poziția de a oferi același zâmbet ce mi-a fost oferit mie, unui număr de 151 de suflete. Împreună cu participanții ediției ESU 2022, cât și cu voluntarii, am fost stelele din galaxia ESUverse. Amintirile create de ei încă sunt ancorate și luminează în inima mea.</blockquote>
    <img src="/content/images/testimoniale/1.jpg">
    <p class="designation" style="color: white;">Sabina Onuț, coordonator ESU 2022</p>
  </div> <!-- .mySlides -->
  <div class="mySlides fade bg2">  
    <div class="numbertext">2 / 3</div>
    <blockquote class="text">Să pleci de acasă două săptămani, cu niste oameni necunoscuți, într-un oraș nou, fără prieteni, sună nasol. Asta până îți iei inima în dinți și încerci. Și în momentul în care încerci, o să vezi că îți place, o să vezi că te-ai acomodat, o să vezi că ți-ai făcut prieteni și o să te simți ca acasă.</blockquote>
    <img src="/content/images/testimoniale/2.jpg">
    <p class="designation" style="color: white;">Alex Florea, participant ESU 2022</p>
  </div> <!-- .mySlides -->
  <div class="mySlides fade bg3">
    <div class="numbertext">3 / 3</div>
    <blockquote class="text">Atunci când a venit sfârșitul taberei am realizat cu toții că legăturile pe care le creaserăm erau mai presus de mesaje sau apeluri, erau adevărate prietenii. Am învățat ce înseamnă studenția cu adevărat.</blockquote>
    <img src="/content/images/testimoniale/3.jpeg">
    <p class="designation" style="color: white;">Alice Popescu, participant ESU 2021</p>
  </div> <!-- .mySlides -->
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
</div> <!-- .slideshow-container -->
<br>
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
let slideIndex = 1;
showSlides(slideIndex);
function plusSlides(n) {
  showSlides(slideIndex += n);
}
function currentSlide(n) {
  showSlides(slideIndex = n);
}
function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>