<style>
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ebdeed0f;
  }

  .contentText {
    font-size: large;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .wrapperCollapse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  /* mouse over link */
  .readMore:hover {
    color: hotpink;
  }

  .addPading{
    padding-bottom: 10px;
  }

  /* selected link */
  .readMore:active {
    color: blue;
  }

  .readMore {
    color: lightblue;
  }

  .collapsible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #414141;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.7s ease;
  }

  .collapsible:hover {
    background-color: #373737;
  }
</style>

<div class="wrapperCollapse">
  <button class="collapsible">Regulament</button>
  <div class="content">
      <p style="font-weight: bold;">Capitolul I - Prevederi generale</p>
      <p>Art. 1.1 </p>
      <p>“Engineering Summer University” este un proiect creat și
      implementat de către Organizația Studenților din Universitatea Tehnică Cluj,
      cu sediul în Cluj-Napoca, Str. Ceahlău, Nr. 72, având Codul Unic de
      Înregistrare 15778109, IBAN RO36BTRL01301205950852XX (Cont în RON
      – deschis la Banca Transilvania), reprezentată legal de către Covaci Sergiu,
      având funcția de președinte.</p>  
      <br />
      <a href="https://drive.google.com/file/d/1YZCXksJWrsGvvCPHWTDz4Y8CeWFA1BAM/preview" class="readMore">Citește tot...</a>
  </div>
  <button class="collapsible">Acte necesare pentru înscriere</button>
  <div class="content">
    <p class="contentText" style="padding-bottom: 10px;">
      <b>a) Formularul de înscriere</b> de la adresa www.esu.osut.org – completat online<br />
      <b>b) Adeverință din partea instituției de învățământ</b> care atestă calitatea de elev în clasa a XI-a a
      aplicantului<br />
      <b>c) Regulamentul prezent semnat</b> de către reprezentantul legal al participantului pe fiecare pagină și
      scanat<br />
      <b>d) Fotografie</b> de tip profil (format .jpeg)<br />
      <b>e) Formular</b> de acord a prelucrării datelor cu caracter personal (GDPR)<br />
      <b>f) Diplome</b> care să ateste activitatea menționată în formular<br />
      <b>g) Copie după buletin</b><br />
      <b>h) Acord parental</b> - semnarea acordului parental atestă faptul că părinții aplicantului au luat la
      cunoștință și sunt de acord cu prezentul regulament, sau, în cazul în care aplicantul este major (are peste 18 ani
      împliniți), declarație pe proprie răspundere semnată de către acesta<br />
      <b>j) Adeverință medicală</b> care atestă faptul că participantul este clinic sănătos.<br />
      <b>k) Aviz epidemiologic</b><br />
      <b>l) Copie după pașaport</b> (doar în cazul aplicanților internaționali)<br />

    </p>
  </div>
  <button class="collapsible">F.A.Q</button>
  <div class="content" style="width: 100%;">
    <p class="contentText">
      Unde? Când? Cine? 
      <br />
      Campusul Studențesc Observator, perioada: 15-29 iulie și o mulțime de oameni blană.
      <br />
      <a href="https://esu.osut.org/faq/" class="readMore">Mai multe întrebări...</a>
    </p>
  </div>
</div>

<script>
  var coll = document.getElementsByClassName("collapsible");

  for (let i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight) {
        content.style.maxHeight = null;
        content.style.padding = "0px";
      } else {
        content.style.maxHeight = content.scrollHeight + 20 + "px";
        content.style.padding = "10px";
      }
    });
  }
</script>