<style>

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Righteous&display=swap');

.countdown-container {
	width: 100%;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
}

h1 {
	font-size: 40px;
	margin-bottom: 50px;
    color: white;
}

span{
  padding:10px;
  color: white;
}

#countdown {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

#countdown > div {
	font-size: 50px;
	width: 300px;
	height: 100px;
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.smalltext {
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
    color: white;
}

@media only screen and (max-width: 620px) {
	#countdown > div{
		width:100%;
		height:auto;
		font-size: 26px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.smalltext{
		font-size: 13px;
		font-weight: bold;
	}
}

@media only screen and (max-width: 420px)
{
	#countdown > div{
		width:100%;
		height:auto;
		font-size: 38px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.smalltext{
		font-size: 18px;
		font-weight: bold;
	}
	.mobile{
		font-size: 15px;
	}
}
</style>


<div class="countdown-container">
    <h1>Deadline Înscriere ESU 2023</h1>
    <div id="countdown">
        <div>
            <span id="days"></span>
            <div class="smalltext">Zile</div>
        </div>
        <div>
            <span id="hours"></span>
            <div class="smalltext">Ore</div>
        </div>
        <div>
            <span id="minutes"></span>
            <div class="smalltext">Minute</div>
        </div>
        <div>
            <span id="seconds"></span>
            <div class="smalltext mobile">Secunde</div>
        </div>
    </div>
</div>

<script>

var countDownDate = new Date("May 5, 2023 00:00:00").getTime();

var x = setInterval(function() {

	var now = new Date().getTime();

	var distance = countDownDate - now;

	var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	var seconds = Math.floor((distance % (1000 * 60)) / 1000);

	document.getElementById("days").innerHTML = days;
	document.getElementById("hours").innerHTML = hours;
	document.getElementById("minutes").innerHTML = minutes;
	document.getElementById("seconds").innerHTML = seconds;
                                        
	if (distance < 0) {
		clearInterval(x);
		document.getElementById("countdown").innerHTML = "Inscrierile s-au finalizat!";
	}
}); 

</script>