<style>
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ebdeed0f;
  }

  .contentText {
    font-size: large;
    margin: 5px;
  }

  .wrapperCollapse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  /* mouse over link */
  .readMore:hover {
    color: hotpink;
  }

  /* selected link */
  .readMore:active {
    color: blue;
  }

  .readMore {
    color: lightblue;
  }

  .collapsible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #414141;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.7s ease;
  }

  .collapsible:hover {
    background-color: #373737;
  }
</style>

<div class="wrapperCollapse">
  <button class="collapsible">Question 1</button>
  <div class="content">
    <p class="contentText">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      <br />
    </p>
  </div>
  <button class="collapsible">Question 2</button>
  <div class="content">
    <p class="contentText">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      <br />
    </p>
  </div>
  <button class="collapsible">Question 3</button>
  <div class="content">
    <p class="contentText">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      <br />
    </p>
  </div>
</div>

<script>
  var coll = document.getElementsByClassName("collapsible");

  for (let i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight) {
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
</script>