<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
    
.footer-bottom a{
    color: inherit;
}

.footer-bottom-contact{
    padding-bottom: 40px;
    text-align: justify;
}
.footer-bottom-contact b{
    color:#ffffff
}
.footer-bottom-contact h3{
    color:#ffffff;
}
.footer {
    background-color: #071E46; /* Dark blue color */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif; /* Applying the new font */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px; /* Space between the images */
    color: #ccc;
    font-size: 20px;
    margin-top: -10px;
}

.footer-logo img {
    max-width: 125px;
}

.footer-social a {
    color: #ffffff;
    font-size: 22px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
}

.footer-social a:hover {
    color: #fac82d;
}

.footer-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    color: #ccc;
    font-size: 14px;
    margin-top: -10px;
}

.footer-bottom img {
    max-width: 140px;
}

/* Mobile Adjustments */
@media (max-width: 900px) {
    .footer {
        padding: 15px 0;
    }

    .footer-content {
        align-items: center;
        flex-direction: column; /* Stack content vertically on mobile */
        gap: 15px;
        padding: 10px 0;
    }

    .footer-logo {
        gap: 30px; /* Slightly reduce gap between logos */
    }

    .footer-logo img {
        max-width: 120px; /* Reduce logo size on mobile */
    }

    .footer-social a {
        font-size: 22px; /* Reduce icon size on mobile */
        margin: 0 8px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        margin-top: 0;
    }

    .footer-bottom img {
        max-width: 100px; /* Reduce size for better fit on mobile */
    }
}

@media (max-width: 1200px) {
    .footer {
        padding: 15px 0;
    }

    .footer-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*

.footer-logo a img {
    transition: filter 0.6s ease-in-out; 
}

.footer-logo a:hover img {
    filter: brightness(0) saturate(100%) invert(74%) sepia(92%) saturate(600%) hue-rotate(-8deg) brightness(105%) contrast(100%);
}*/


hr {
    border: none;  /* Remove any default border styles */
    height: 2px;   /* Set height for the line */
    background-color: #696969; /* Set the color of the line */
    margin: 20px auto;  /* Center the hr and add space above and below */
    width: 90%;  /* Set the width of the line to 90% */
}
    </style>


<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <a href="https://www.utcluj.ro/"><img src="/assets/images/Logo-uri/UTalb.png" alt="Logo" /></a>
            <a href="https://osut.org/"><img src="/assets/images/Logo-uri/OSUT alb.png" alt="Logo" /></a>
        </div>
        <div class="footer-social">
            <a href="https://www.facebook.com/engineering.summer.university"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/engineering.summer.university"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@esu.osut"><i class="fab fa-tiktok"></i></a>
            <a href="mailto:esu.osutcluj@gmail.com"><i class="fas fa-envelope"></i></a>

        </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <a href="https://esu.osut.org/"><img src="/assets/images/Logo-uri/ESU_logo.png" alt="Logo" /></a>
    <div class="footer-bottom-contact">
        <h3 style="text-align: center; margin-left: 0px; font-size:130%">Contact:</h3>
        <p><b>Orțan Adela - Responsabil BC</b></p>
        <p>Număr de telefon: <i>0754273202</i></p>
        <p>Email: <a href="mailto:adelalorena16@gmail.com">adelalorena16@gmail.com</a></p>
        <p><b>Florea Alexandru - Coordonator</b></p>
        <p>Număr de telefon: <i>0728020039</i></p>
        <p>Email: <a href="mailto:alexandruflorea2004@gmail.com">alexandruflorea2004@gmail.com</a></p>
    </div>

</footer>