{{!--
This footer template is shared across all the pages.
--}}

<style>
  .m-footer{
    background-color: #161616;
  }

  .footerFlexContainer{
    display: flex; 
    justify-content: space-around;
  }

  .contactText{
    text-align: left;
  }

  @media screen and (max-width: 768px){
    .footerFlexContainer{
      flex-direction: column;
    }

    .contactText{
      text-align: center;
    }

  }

</style>

<footer class="m-footer">
  <div class="m-footer__content" > 

    <div class="footerFlexContainer" >

        <div>
            <h2>Un proiect marca:</h2>
            <img style="height:100px; margin-top: 20px;" src="/content/images/OSUT_alb.png">
        </div>
        <div>
            <h2>În parteneriat cu:</h2>
            <img style="height:80px; margin-top: 30px;" src="/content/images/logo_utcn.png">
        </div>
        <div>
            <h2>Contact:</h2>
            <div class="contactText">
              <p><b>Sabina Onuț - Responsabil BC</b></p>
              <p>Telefon:<i>0773 925 150</i>  </p>
              <p>Email: <a href="mailto:onut.sabina27@yahoo.com">onut.sabina27@yahoo.com</a></p>  
              <p><b>Demean Vlad - Coordonator</b><p>
              <p>Telefon:<i>0736 353 111</i>  </p>
              <p>Email: <a href="mailto:demeanvlad8@gmail.com">demeanvlad8@gmail.com</a></p>            
            </div>
        </div>

    </div>

<br>
<br>
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span>Made with ❤️ by <a href="https://www.osut.org">Serviciul IT</a> </span>
    </p>
  </div>
</footer>
