{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content" style="max-width:80%"> 

    <div style="display: flex; justify-content:space-around">

        <div>
            <h2>Un proiect marca:</h2>
            <img style="height:100px; witdh:279" src="/content/images/osut.png">
        </div>
        <div>
            <h2>În parteneriat cu:</h2>
            <img src="/content/images/utcn.png">
        </div>
        <div>
            <h2>Contact:</h2>
            <div style="text-align:left">
              <p><b>Sabina Onut - Responsabil BC</b></p>
              <p>Telfon:<i>07xx xxx xxx</i>  </p>
              <p>Email: <a href="mailto:sabina.onut@gmail.com">sabina.onut@gmail.com</a></p>  
              <p><b>Demean Vlad - Coordonator</b><p>
              <p>Telfon:<i>07xx xxx xxx</i>  </p>
              <p>Email: <a href="mailto:demean@gmail.com">vlad.demean@gmail.com</a></p>            
            </div>
        </div>

    </div>

<br>
<br>
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span>Made with ❤️ by <a href="https://www.instagram.com/nnicolaee/">Serviciul IT</a> </span>
    </p>
  </div>
</footer>
